.icon-comment {
    font-size: 15px;
}
.baslik {
  position: relative;
  text-align: center;
}
.baslik .yazi {
  background: #fff;
  padding: 0 50px;
  position: relative;
  z-index: 1;
  font-size: 20px;
}
.baslik hr {
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
}

.aw-zoom
{
    position: relative;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
}
.aw-zoom:hover
{
    z-index:2;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);  
    -moz-transform: scale(1.5);
    transform: scale(1.5);
}

.face {
    display: inline-block;
    font-size: 16px;
    color: #3A5795;
    background: #fff;
    padding: 10px
}

.face:hover {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    background: #3A5795;
}

body {
    font-size: 13px;
    font-family: Palanquin;
    margin: 0;
}

.box {
    color: #fff;
    padding: 10px;
}

.box:hover {
    background: #fff;
    color: #26425E;
}

.menu {
    background: #fff;
    border-bottom: 1px solid #CCC;
}

.menu-ul {
    margin: 0;
    padding: 0;
}

.menu-ul>a {
    color: #000
}

.menu-ul>a:hover {
    color: #cc181e
}

.menu-li {
    display: inline-block;
    list-style-type: none;
    padding: 13px 10px 10px 10px;
    border-bottom: 3px solid #fff
}

.menu-li:hover {
    border-bottom: 3px solid #cc181e
}

.bolum {
    height: 53px;
}

.button {
    border-radius: 4px;
    background-color: #BFBFBF;
    color: #625A5A;
    display: inline-block;
    font-weight: bold;
    padding:3px 9px 5px 9px; 
    transition: all .3s;
}

.button:hover {
    background-color: #6C7A89;
    color: #DAE1E7;
}

.leftp {
    padding: 10px;
}

.rightp {
    padding: 10px;
}

.left {
    width: 70%;
    float: left;
    background-color: #fff;
}

.right {
    width: 30%;
    float: right;
}

.resim {
    background: url(img/resim1.jpg);

    height: 600px;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed
}
.resim1 {
    background: url(img/arkeoloji2.jpg);

    height: 600px;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed
}

.text{
    text-align: center;
    color: #fff;
    font-weight: bold;
    height: 600px;
    padding-top: 100px;
}
h1 {
    font-size: 50px;
    text-shadow: 0px 4px 2px black;
    margin: 0;
}
h2 { 
    text-align: left;
    font-size: 12pt;
    color: 	#808080;
    font-size: 1.5em;	
    font-size: 150%;
    font-style: Times New Roman;
    font-style: normal;	
    font-weight: bold;
	font-weight: normal;
}



h4{
	font-size: 30px;
	text-align: center;
    margin: 0;
    text-shadow: 0px 0px 5px black;
}
header {
    position: fixed;
    background: #000080;
    padding: 5px;
    width: 100%;
    text-align: justify;
    z-index: 5
}

h3 {
	font-size: 50px;
	text-align: center;
	color: #fff;
	font-style: Times New Roman;
	font-style: italic;
}

.logo {
    display: inline-block;
    float: left;
}

.logo img {
    height: 50px
}

.search {
    display: inline-block;
    float: right;
    
}
h1 span{
    color:#2DB200;
}
input {
    padding: 8px;
    border: 0;
    border-bottom: 1px solid #A9A9A9;
    background: transparent;
    width: 69px;
    transition-duration:.3s;
    transition-property: width, color;
    outline: 0;
    font-size: 13px;
    font-family: 'Palanquin';
}

input:focus {
    width: 300px;
    border-bottom: 1px solid #cc181e;
    color: #fff;
}

header>.container {}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1400px
}

a {
    color: #645D5A;
    text-decoration: none;
}

a:hover {
    color: #6C7A89;
    text-decoration: underline;
}

.column-25 {
    width: 25%;
    float: left;
    display: inline-block;
    text-align: center;
}

footer {
    width: 100%;
    margin: 20px auto 0 auto;
    padding: 25px 0 25px 0;
    background: #000080;
    color: #fff;
}

.clear {
    clear: both;
}

h2.title {
    font-size: 18px;
    margin: 0;
    color: #fff;
    text-align: center;
    line-height: 1
}

span {
    display: inline-block;
    position: relative;
}

.line:before,
.line:after {
    content: '';
    color: #fff;
    border: 1px solid;
    position: absolute;
    right: 100%;
    margin-right: 10px;
    top: 9px;
    width: 20px;
}

.line:before {
    left: 100%;
    margin-left: 10px;
}
.info{
   
   
}
#slider {
	background:#fff url(loading.gif) no-repeat 50% 50%;
	position:relative;
	margin:0 auto;
    box-shadow: 0px 1px 5px #999999;
	transform: translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
}
#slider img {
	position:absolute;
	border:none;
	display:none;
}
#slider a.imgLink {
	z-index:2;
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	border:0;
	padding:0;
	margin:0;
	width:100%;
	height:100%;
}
div.mc-caption-bg, div.mc-caption-bg2 {
	position:absolute;
	width:100%;
	height:auto;
	padding:0;
	left:0px; 
	bottom:15px;
	z-index:3;
	overflow:hidden;
	font-size: 0;
}
div.mc-caption-bg {
	background-color:black;
}
div.mc-caption {
	font: bold 14px/20px Arial;
	color:#EEE;
	z-index:4;
	padding:10px 0;
	text-align:center;
}
div.mc-caption a {
	color:#FB0;
}
div.mc-caption a:hover {
	color:#DA0;
}
div.navBulletsWrapper  {
	top:320px; 
	left:280px; 
	width:150px;
	background:none;
	padding-left:20px;
	position:relative;
	z-index:5;
	cursor:pointer;
}
div.navBulletsWrapper div 
{
    width:11px; 
	height:11px;
    background:transparent url(../resim/bullet.png) no-repeat 0 0;
    float:left;
	overflow:hidden;
	vertical-align:middle;
	cursor:pointer;
    margin-right:11px;
    _position:relative;
}
div.navBulletsWrapper div.active 
{
	background-position:0 -11px;
}

